#include "resource.h"
#include <windows.h>

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_OLED_CONTROL_DIALOG DIALOGEX 0, 0, 620, 580
STYLE DS_SETFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_THICKFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "OLED 控制中心"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "串口设置", -1, 10, 10, 200, 50
    COMBOBOX        IDC_COMBO_PORT, 20, 28, 120, 200, CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON      "打开", IDC_BTN_OPEN, 150, 26, 50, 22
    PUSHBUTTON      "关闭", IDC_BTN_CLOSE, 150, 26, 50, 22

    GROUPBOX        "运行模式", -1, 10, 70, 200, 40
    CONTROL         "本地", IDC_RADIO_LOCAL, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 20, 88, 50, 14
    CONTROL         "远程", IDC_RADIO_REMOTE, "Button", BS_AUTORADIOBUTTON, 75, 88, 50, 14
    COMBOBOX        IDC_CBO_REMOTE_SUB, 130, 86, 70, 100, CBS_DROPDOWNLIST | WS_VSCROLL

    GROUPBOX        "LED 控制", -1, 10, 118, 200, 45
    CONTROL         "关", IDC_RADIO_LED_OFF, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 20, 136, 40, 14
    CONTROL         "开", IDC_RADIO_LED_ON, "Button", BS_AUTORADIOBUTTON, 65, 136, 40, 14
    CONTROL         "闪烁", IDC_RADIO_LED_BLINK, "Button", BS_AUTORADIOBUTTON, 110, 136, 55, 14

    GROUPBOX        "显示特效", -1, 10, 173, 200, 110
    CONTROL         "静态显示", IDC_RADIO_MODE_BASE, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 20, 191, 80, 14
    CONTROL         "向左滚动", IDC_RADIO_MODE_BASE+1, "Button", BS_AUTORADIOBUTTON, 20, 209, 80, 14
    CONTROL         "向右滚动", IDC_RADIO_MODE_BASE+2, "Button", BS_AUTORADIOBUTTON, 20, 227, 80, 14
    CONTROL         "向上滚动", IDC_RADIO_MODE_BASE+3, "Button", BS_AUTORADIOBUTTON, 110, 191, 80, 14
    CONTROL         "向下滚动", IDC_RADIO_MODE_BASE+4, "Button", BS_AUTORADIOBUTTON, 110, 209, 80, 14
    CONTROL         "翻页显示", IDC_RADIO_MODE_BASE+5, "Button", BS_AUTORADIOBUTTON, 110, 227, 80, 14
    CONTROL         "淡入淡出", IDC_RADIO_MODE_BASE+6, "Button", BS_AUTORADIOBUTTON, 20, 245, 80, 14

    GROUPBOX        "文字内容", IDC_GRP_TEXT, 10, 295, 200, 65
    EDITTEXT        IDC_EDIT_TEXT, 20, 313, 180, 24, ES_MULTILINE | ES_AUTOVSCROLL
    PUSHBUTTON      "发送文字", IDC_BTN_SEND_TEXT, 150, 339, 50, 16

    GROUPBOX        "上电默认文字", IDC_GRP_SAVE_BOOT, 10, 370, 200, 50
    EDITTEXT        IDC_EDIT_BOOT_TEXT, 20, 388, 140, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "保存", IDC_BTN_SAVE_BOOT, 170, 387, 35, 16

    GROUPBOX        "天气模拟", IDC_GRP_WEATHER, 10, 430, 200, 60
    LTEXT           "类型:", IDC_STC_WTH_TYPE, 20, 450, 30, 14
    COMBOBOX        IDC_CBO_WEATHER_TYPE, 50, 448, 60, 100, CBS_DROPDOWNLIST
    LTEXT           "温度:", IDC_STC_WTH_TEMP, 120, 450, 30, 14
    EDITTEXT        IDC_EDIT_TEMP, 152, 448, 30, 14
    LTEXT           "℃", IDC_STC_WTH_CELSIUS, 185, 450, 12, 14
    LTEXT           "湿度:", IDC_STC_WTH_HUMID, 20, 468, 30, 14
    EDITTEXT        IDC_EDIT_HUMIDITY, 50, 466, 30, 14
    LTEXT           "%", IDC_STC_WTH_PERCENT, 83, 468, 12, 14
    LTEXT           "风向:", IDC_STC_WTH_WIND, 100, 468, 30, 14
    COMBOBOX        IDC_CBO_WIND, 132, 466, 50, 100, CBS_DROPDOWNLIST
    PUSHBUTTON      "发送", IDC_BTN_SEND_WEATHER, 190, 466, 18, 14

    PUSHBUTTON      "同步时间", IDC_BTN_SYNC_TIME, 10, 497, 200, 22

    CONTROL         "", IDC_OLED_PREVIEW, "OledPreviewWnd", SS_BLACKFRAME | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 220, 10, 390, 270

    GROUPBOX        "设备状态", -1, 220, 290, 390, 1, NOT WS_VISIBLE

    GROUPBOX        "按键日志", IDC_GRP_KEY_LOG, 220, 295, 390, 205
    LISTBOX         IDC_LST_KEY_LOG, 230, 373, 370, 120, LBS_NOINTEGRALHEIGHT | WS_VSCROLL
END