#include "resource.h"
#include <windows.h>

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_OLED_CONTROL_DIALOG DIALOGEX 0, 0, 620, 520
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "OLED 控制中心"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "串口设置", -1, 10, 10, 200, 50
    COMBOBOX        IDC_COMBO_PORT, 20, 28, 120, 200, CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON      "打开", IDC_BTN_OPEN, 150, 26, 50, 22
    PUSHBUTTON      "关闭", IDC_BTN_CLOSE, 150, 26, 50, 22
    RTEXT           "● 已连接", IDC_STC_CONN_STATUS, 500, 10, 100, 14, SS_RIGHT

    GROUPBOX        "LED 控制", -1, 10, 70, 200, 45
    CONTROL         "关", IDC_RADIO_LED_OFF, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 20, 88, 40, 14
    CONTROL         "开", IDC_RADIO_LED_ON, "Button", BS_AUTORADIOBUTTON, 65, 88, 40, 14
    CONTROL         "闪烁", IDC_RADIO_LED_BLINK, "Button", BS_AUTORADIOBUTTON, 110, 88, 55, 14

    GROUPBOX        "显示模式", -1, 10, 125, 200, 155
    CONTROL         "静态显示", IDC_RADIO_MODE_BASE, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 20, 143, 80, 14
    CONTROL         "向左滚动", IDC_RADIO_MODE_BASE+1, "Button", BS_AUTORADIOBUTTON, 20, 161, 80, 14
    CONTROL         "向右滚动", IDC_RADIO_MODE_BASE+2, "Button", BS_AUTORADIOBUTTON, 20, 179, 80, 14
    CONTROL         "向上滚动", IDC_RADIO_MODE_BASE+3, "Button", BS_AUTORADIOBUTTON, 110, 143, 80, 14
    CONTROL         "向下滚动", IDC_RADIO_MODE_BASE+4, "Button", BS_AUTORADIOBUTTON, 110, 161, 80, 14
    CONTROL         "翻页显示", IDC_RADIO_MODE_BASE+5, "Button", BS_AUTORADIOBUTTON, 110, 179, 80, 14
    CONTROL         "淡入淡出", IDC_RADIO_MODE_BASE+6, "Button", BS_AUTORADIOBUTTON, 20, 197, 80, 14

    GROUPBOX        "文字内容", -1, 10, 290, 200, 65
    EDITTEXT        IDC_EDIT_TEXT, 20, 308, 180, 24, ES_MULTILINE | ES_AUTOVSCROLL
    PUSHBUTTON      "发送文字", IDC_BTN_SEND_TEXT, 150, 334, 50, 16

    GROUPBOX        "上电默认文字", -1, 10, 365, 200, 50
    EDITTEXT        IDC_EDIT_BOOT_TEXT, 20, 383, 140, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "保存", IDC_BTN_SAVE_BOOT, 170, 382, 35, 16

    GROUPBOX        "天气模拟", -1, 10, 425, 200, 60
    LTEXT           "类型:", -1, 20, 445, 30, 14
    COMBOBOX        IDC_CBO_WEATHER_TYPE, 50, 443, 60, 100, CBS_DROPDOWNLIST
    LTEXT           "温度:", -1, 120, 445, 30, 14
    EDITTEXT        IDC_EDIT_TEMP, 152, 443, 30, 14
    LTEXT           "℃", -1, 185, 445, 12, 14
    LTEXT           "湿度:", -1, 20, 463, 30, 14
    EDITTEXT        IDC_EDIT_HUMIDITY, 50, 461, 30, 14
    LTEXT           "%", -1, 83, 463, 12, 14
    LTEXT           "风向:", -1, 100, 463, 30, 14
    COMBOBOX        IDC_CBO_WIND, 132, 461, 50, 100, CBS_DROPDOWNLIST
    PUSHBUTTON      "发送", IDC_BTN_SEND_WEATHER, 190, 461, 18, 14

    PUSHBUTTON      "同步时间", IDC_BTN_SYNC_TIME, 10, 492, 200, 22

    CONTROL         "", IDC_OLED_PREVIEW, "OledPreviewWnd", SS_BLACKFRAME | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 220, 10, 390, 270

    GROUPBOX        "设备状态", -1, 220, 290, 190, 55
    LTEXT           "LED: 关", IDC_STC_LED_STATUS, 230, 308, 80, 14
    LTEXT           "模式: 静态", IDC_STC_MODE_STATUS, 320, 308, 80, 14
    LTEXT           "延迟: -- ms", IDC_STC_LATENCY, 230, 326, 80, 14

    GROUPBOX        "按键日志", -1, 220, 355, 390, 155
    LISTBOX         IDC_LST_KEY_LOG, 230, 373, 370, 130, LBS_NOINTEGRALHEIGHT | WS_VSCROLL
END
